
[gcode_macro LIGHT_DOWN]
gcode:
  SET_SERVO SERVO=nozzle_light ANGLE=60
  G4 P500    # spin for 500ms
  SET_SERVO SERVO=nozzle_light ANGLE=90   # stop

[gcode_macro LIGHT_UP]
gcode:
  SET_SERVO SERVO=nozzle_light ANGLE=120  # tweak until it rotates dimmer counterclockwise
  G4 P500    # spin for 500ms
  SET_SERVO SERVO=nozzle_light ANGLE=90   # stop


[gcode_macro DEPLOY_PROBE]
gcode: BLTOUCH_DEBUG COMMAND=pin_down

[gcode_macro RETRACT_PROBE]
gcode: BLTOUCH_DEBUG COMMAND=pin_up

[gcode_macro SCREWS_ADJUST]
gcode: SCREWS_TILT_CALCULATE

# [gcode_macro FILAMENT_RUNOUT] no sensor for now
# gcode: M600
#   M118 FILAMENT RUNOUT

[gcode_macro START_PRINT]
gcode:
  EXCLUDE_OBJECT_DEFINE
  {% set bed_temp = params.BED_TEMP|default(0)|int %}
  {% set extruder_temp = params.EXTRUDER_TEMP|default(0)|int %}

  {% if bed_temp == 0 or extruder_temp == 0 %}
    M118 ERROR: temps not provided by slicer
    RESPOND TYPE=error MSG="START_PRINT missing BED_TEMP/EXTRUDER_TEMP"
    CANCEL_PRINT
  {% endif %}

  M118 SETTING BED TEMP {bed_temp}
  M140 S{bed_temp}
  M190 S{bed_temp}

  M118 HOMING ALL AXIS
  G28

  # M118 PREHEATING EXTRUDER
  # M104 S175          ; gentle preheat for probing (optional)

  M118 Calibrating bed mesh
  BED_MESH_CALIBRATE

  M118 SETTING EXTRUDER TEMP {extruder_temp}
  M109 S{extruder_temp}

  M118 Purging
  LINE_PURGE
  M118 LET US BEGIN...


[gcode_macro END_PRINT]
gcode:
  M118 ...IT IS DONE
  SAVE_GCODE_STATE NAME=end_state
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-60 F1800
    G92 E0
  {% endif %}
  RESTORE_GCODE_STATE NAME=end_state

  G91
  G1 Z10 F600
  G90
  {% set x_park = printer.toolhead.axis_minimum.x + 5 %}
  {% set y_park = printer.toolhead.axis_maximum.y - 5 %}
  G1 X{x_park} Y{y_park} F6000

  M107
  TURN_OFF_HEATERS
  BED_MESH_CLEAR
  M118 TIMELAPSE RENDER
  TIMELAPSE_RENDER
  M84
  UPDATE_DELAYED_GCODE ID=poweroff_after_done DURATION=1800
  M118 PRINT COMPLETE - POWERING DOWN IN 30 MINUTES

[gcode_macro PID_TUNE_NOZZLE_230]
gcode:
  G1 X140 Y140 Z50
  M140 S50
  PID_CALIBRATE HEATER=extruder TARGET=230

[gcode_macro PID_TUNE_BED_75]
gcode:
  G1 X140 Y140 Z50
  M106 S255
  PID_CALIBRATE HEATER=heater_bed TARGET=75
  
[gcode_macro CLEANING_MODE]
gcode:
  G1 Z150 Y240 F1000

[gcode_macro POWER_OFF_PRINTER]
gcode:
  {action_call_remote_method("set_device_power",
  device="Printer Power",
  state="off")}

[delayed_gcode poweroff_after_done]
gcode:
  POWER_OFF_PRINTER

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
variable_retract_len: 60.0
variable_retract_feed: 1800
gcode:
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true' %}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}

  SAVE_GCODE_STATE NAME=cancel_state
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{retract_len} F{retract_feed}
    G92 E0
  {% else %}
    {action_respond_info("Skip retract: extruder not hot enough")}
  {% endif %}
  RESTORE_GCODE_STATE NAME=cancel_state

  M400
  TURN_OFF_HEATERS
  M106 S0
  BED_MESH_CLEAR
  CANCEL_PRINT_BASE
  
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
    # M118 PAUSE STUBBED
  PAUSE_BASE
  M118 printer paused
  _TOOLHEAD_PARK_PAUSE_CANCEL
  M83
  G1 E-1.0 F2100

[gcode_macro M0]
gcode: PAUSE
[gcode_macro M1]
gcode: PAUSE
# [gcode_macro M25]
gcode: PAUSE
[gcode_macro M601]
gcode: PAUSE
# [gcode_macro M24]
# gcode: RESUME

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
variable_extrude: 1.0
gcode:
  {% set max = printer.toolhead.axis_maximum %}
  {% set min = printer.toolhead.axis_minimum %}
  {% set park_x = min.x + 5 %}         # left
  {% set park_y = max.y - 5 %}         # back
  G91
  G1 Z10 F600
  G90
  G1 X{park_x} Y{park_y} F6000

[gcode_macro BLACK_ON]
gcode:
  SET_PIN PIN=LED_BLACK VALUE=1

[gcode_macro BLACK_OFF]
gcode:
  SET_PIN PIN=LED_BLACK VALUE=0




[gcode_macro TEST_SPEED]
# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU

gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Minimum Cruise Ratio
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(20)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
    
    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x %}
        {% if x_min < 0 %}
            {% set x_min = 0 %}
        {% endif %}
    
        {% set y_min = printer.toolhead.axis_minimum.y %}
        {% if y_min < 0 %}
            {% set y_min = 0 %}
        {% endif %}
    
        {% set x_min = x_min + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = y_min + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
        
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %} 
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        
        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
    
        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        
        # Small pattern box
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio} 
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    {% endif %}

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED


[gcode_macro M73]
rename_existing: M99973
variable_sent50: 0
gcode:
  {% set percent = params.P|default(0)|int %}
  M99973 P{percent}
  {% if percent >= 50 and printer["gcode_macro M73"].sent50 == 0 %}
    {action_call_remote_method("notify",
       name="ntfy",
       message="Print is 50% done")}
    SET_GCODE_VARIABLE MACRO=M73 VARIABLE=sent50 VALUE=1
  {% endif %}

[gcode_macro TEST_NOTIFY]
description: Send a test ntfy notification
gcode:
  {action_call_remote_method("notify",
    name="ntfy_gcode",
    message="Manual test notification from Mainsail")}